  <h1>{{name}}</h1>
  <p>Client: {{client.name}}</p>
  <p>Status: {{status}}</p>
  <p>Start Date: {{start_date}}</p>
  <p>Finish Date: {{finish_date}}</p>
  <p>Tax: {{tax}}</p>
  <p>Discount: {{discount}}</p>
  {{#if invoice}}
    <p>Invoice Due: {{invoice.due_date}}</p>
  {{/if}}

<h1>Edit Project Details</h1>
<p>Name: {{input value=name}}</p>
<p>Status:
  <label>{{input-radio name="status" selection=status value="complete"}}Complete</label>
  <label>{{input-radio name="status" selection=status value="in-progress"}}In Progress</label>
</p>
<p>Tax: {{input value=tax}}</p>
<p>Discount: {{input value=discount}}</p>
<p>Start Date: {{input type="date" value=start_date}}</p>
<p>Finish Date: {{input type="date" value=finish_date}}</p>
{{#unless isSaving}}
  <button {{action 'saveProject'}}>Save</button>
  {{#link-to 'project' this}}Back{{/link-to}}
  <button {{action 'deleteProject'}}>Delete Project</button>
{{else}}
  <p>Saving...</p>
{{/unless}}
