<div class="col-md-8">
  <div class="col-md-12">
    <h1>Edit Project Details
      <span class="btn-group pull-right">
        <button {{action 'deleteProject'}} class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> Delete Project</button>
      </span>
    </h1>
  </div>

  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">{{input value=name class="form-control"}}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Status</label>
      <div class="col-sm-10">
        <label class="radio-inline">{{input-radio name="status" selection=status value="complete"}} Complete</label>
        <label class="radio-inline">{{input-radio name="status" selection=status value="in-progress"}} In Progress</label>
      </div>
    </div>
    <div class="form-group">
      <label for="tax" class="col-sm-2 control-label">Tax</label>
      <div class="col-lg-4 col-sm-10">
        <div class="input-group">
          {{input type="number" value=tax class="form-control"}} <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="discount" class="col-sm-2 control-label">Discount</label>
      <div class="col-lg-4 col-sm-10">
        <div class="input-group">
          {{input type="number" value=discount class="form-control"}} <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="start_date" class="col-sm-2 control-label">Start Date</label>
      <div class="col-lg-4 col-sm-10">{{input type="date" value=start_date class="form-control"}}</div>
    </div>
    <div class="form-group">
      <label for="finish_date" class="col-sm-2 control-label">Finish Date</label>
      <div class="col-lg-4 col-sm-10">{{input type="date" value=finish_date class="form-control"}}</div>
    </div>

    <div class="form-group">
      <div class="col-lg-4 col-sm-10 col-sm-offset-2">
        {{#unless isSaving}}
          {{#link-to 'project' this tagName="btn" class="btn btn-default"}}<span class="glyphicon glyphicon-arrow-left"></span> Back{{/link-to}}
          <button {{action 'saveProject'}} class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok-circle"></span> Save</button>
        {{else}}
          <p>Saving...</p>
        {{/unless}}
      </div>
    </div>
  </form>
</div>
