<div class="">
  {{#link-to 'project.edit' content}}Edit Project Details{{/link-to}}
  <h1>{{name}}</h1>
  <p>Client: {{client.name}}</p>
  <p>Status: {{status}}</p>
  <p>Start Date: {{start_date}}</p>
  {{#if finish_date}}
  <p>Finish Date: {{finish_date}}</p>
  {{/if}}
  <p>Tax: {{tax}}</p>
  <p>Discount: {{discount}}</p>
  {{#if invoice}}
    <p>Invoice Due: {{invoice.due_date}}</p>
  {{/if}}

  <p>Services:</p>
  <table class="services table">
    <thead>
      <tr>
        <td>date</td>
        <td>type</td>
        <td>description</td>
        <td>price/per</td>
        <td>quantity</td>
        <td>total</td>
        <td>actions</td>
      </tr>
    </thead>
    <tbody class="table-striped">
      {{#each services}}
        <tr>
          <td>{{date}}</td>
          <td>{{type}}</td>
          <td>{{description}}</td>
          <td>${{price}}/{{per}}</td>
          <td>{{quantity}}</td>
          <td>${{total}}</td>
          <td><a {{action 'editService' this}} class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a> <a {{action 'removeService' this}} class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a></td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="5" class="total-title">Total:</td>
        <td colspan="2" class="total-amount">${{total}}</td>
      </tr>
    </tbody>

    <tfoot class="add-service form-inline" role="form">
      <tr>
        <td>
          <label for="date" class="sr-only">Date:</label>
          {{input type="date" value=newService.date class="form-control input-sm"}}
        </td>
        <td>
          <label for="type" class="sr-only">Type:</label>
          {{view Ember.Select content=newService.serviceTypes value=newService.type class="form-control input-sm"}}
        </td>
        <td>
          <label for="description" class="sr-only">Description:</label>
          {{input type="text" value=newService.description class="form-control input-sm input-description"}}
        </td>
        <td>
          <label for="price" class="sr-only">Price:</label>
          ${{input type="number" value=newService.price class="form-control input-sm"}}/
          {{view Ember.Select content=newService.servicePer value=newService.per class="form-control input-sm"}}
        </td>
        <td>
          <label for="quantity" class="sr-only">Quantity:</label>
          {{input type="number" value=newService.quantity class="form-control input-sm"}}
        </td>
        <td>
          ${{newService.total}}
        </td>
        <td>
          <button {{action 'addService'}} class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok-circle"></span> Add</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
