<div class="">
  <h1>{{name}}
    <span class="btn-group pull-right">
      {{#link-to 'project.edit' content tagName="button" class="btn btn-default"}}<span class="glyphicon glyphicon-pencil"></span> Edit Project Details{{/link-to}}
    </span>
  </h1>

  <p>Client: <b class="bold">{{client.name}}</b></p>
  <p>Status: <b class="bold">{{status}}</b></p>
  <p>Start Date: <b class="bold">{{format-date start_date 'MMMM D, YYYY'}}</b></p>
  {{#if finish_date}}
    <p>Finish Date:  <b class="bold">{{finish_date}}</b></p>
  {{/if}}

  <p>Tax: <b class="bold">{{tax}}%</b></p>
  <p>Discount:  <b class="bold">{{discount}}%</b></p>

  {{#if invoice}}
    <p>Invoice Due: <b class="bold">{{format-date invoice.due_date 'MMMM D, YYYY'}}</b></p>
  {{/if}}

  <h2>Services:</h2>

  <table class="services table form-inline table-striped" border=0>
    <thead>
      <tr>
        <th>date</th>
        <th>type</th>
        <th>description</th>
        <th>price/per</th>
        <th>quantity</th>
        <th>total</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each services}}
        {{service-row service=this action="saveService"}}
      {{/each}}
    </tbody>

    <tfoot class="add-service" role="form">
      <tr class="service new-service">
        <td>
          <label for="date" class="sr-only">Date:</label>
          {{input type="date" value=newService.date class="form-control input-sm"}}
        </td>
        <td>
          <label for="type" class="sr-only">Type:</label>
          {{view Ember.Select content=newService.serviceTypes value=newService.type class="form-control input-sm"}}
        </td>
        <td>
          <label for="description" class="sr-only">Description:</label>
          {{input type="text" value=newService.description class="form-control input-sm input-description"}}
        </td>
        <td>
          <label for="price" class="sr-only">Price:</label>
          ${{input type="number" value=newService.price class="form-control input-sm"}}/
          {{view Ember.Select content=newService.servicePer value=newService.per class="form-control input-sm"}}
        </td>
        <td>
          <label for="quantity" class="sr-only">Quantity:</label>
          {{input type="number" value=newService.quantity class="form-control input-sm"}}
        </td>
        <td>
          ${{newService.total}}
        </td>
        <td>
          <button {{action 'addService'}} class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok-circle"></span> Add</button>
        </td>
      </tr>

      {{#if discount}}
      <tr>
        <td colspan="5" class="discount">Discount ({{discount}}%)</td>
        <td colspan="2" class="discount-amount">${{discountTotal}}</td>
      </tr>
      {{/if}}

      {{#if tax}}
      <tr>
        <td colspan="5" class="tax">Tax ({{tax}}%)</td>
        <td colspan="2" class="tax-amount">${{taxTotal}}</td>
      </tr>
      {{/if}}

      <tr>
        <td colspan="5" class="total-title">Total:</td>
        <td colspan="2" class="total-amount">${{total}}</td>
      </tr>
    </tfoot>
  </table>
</div>
