<h1>New Project!!</h1>
<form role="form">
  <div class="form-group">
    <label for="client">Client:</label>
    {{view Ember.Select
      content=activeClients
      optionValuePath="content.id"
      optionLabelPath="content.name"
      prompt="Select a Client"
      value=client
      class="form-control"}}
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    {{input value=name class="form-control"}}
  </div>
  <div class="form-group">
    <label for="tax">Tax:</label>
    {{input value=tax class="form-control"}}
  </div>
  <div class="form-group">
    <label for="discount">Discount:</label>
    {{input value=discount class="form-control"}}
  </div>
  <div class="form-group">
    <label for="start_date">Start Date:</label>
    {{input type="date" value=start_date class="form-control"}}
  </div>

  {{#unless isSaving}}
    <button {{action 'createProject'}} class="btn btn-primary pull-right">Create Project</button>
    {{#link-to 'projects' tagName='button' class='btn btn-link pull-right'}}Cancel{{/link-to}}
  {{else}}
    <p>Saving...</p>
  {{/unless}}
</form>
