<div class="col-md-8">
  <h1>{{name}}
    <span class="btn-group pull-right">
      {{#link-to 'client.edit' content class="btn btn-success"}}<span class="glyphicon glyphicon-pencil"></span> Edit Client Details{{/link-to}}
    </span>
  </h1>

  <p>Status: <b class="bold">{{#if status}}Active{{else}}Inactive{{/if}}</b></p>
  <p>Contact: <b class="bold">{{contact}}</b></p>
  <p>Email: <b class="bold">{{email}}</b></p>
  <p>Phone: <b class="bold">{{phone}}</b></p>
  <p>Address: <b class="bold">{{address}}</b></p>
  <p>City: <b class="bold">{{city}}</b></p>
  <p>State: <b class="bold">{{state}}</b></p>
  <p>Zip: <b class="bold">{{zip}}</b></p>

  <h3>Projects:</h3>
  <ul>
    {{#each projects}}
      <li>{{#link-to 'project' this}}{{name}} - ${{total}}{{/link-to}} ({{status}})</li>
    {{/each}}
  </ul>
</div>
