<div class="col-md-9">
  {{#link-to 'clients.new' tagName='button' class='btn btn-default btn-new pull-right'}}<span class="glyphicon glyphicon-plus"></span> Add Client{{/link-to}}

  <ul class="list-group">
    {{#each client in controller}}
      <li {{bind-attr class=":media :list-group-item status:status-active:status-inactive"}}>
        <h2 class="list-item-title">{{#link-to 'client' client}}{{client.name}}{{/link-to}}</h2>

        <div class="dropdown list-item-actions">
          <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown"></span>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>{{#link-to 'client.edit' client}}Edit{{/link-to}}</li>
            <li><a href="" {{action 'openModal' 'modal' client}}>Delete</a></li>
          </ul>
        </div>

        <ul class="list-group-nested">
          <li>City: <b class="bold">{{client.city}}</b></li>
          <li>Contact: <a {{bind-attr href=client.mailto}} class="bold">{{client.contact}}</a></li>
        </ul>
        <p class="list-item-dollar media-heading">${{client.totalReceived}}</p>
      </li>
    {{/each}}
  </ul>
</div>
<div class="col-md-3">
  <div class="well">
    <strong>Due Invoices</strong>
  </div>
</div>
